<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DragonflyEntities" connectionString="metadata=res://*/Database.MsSQL.DbModel.csdl|res://*/Database.MsSQL.DbModel.ssdl|res://*/Database.MsSQL.DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.117;initial catalog=Dragonfly;user id=Developer;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>