@model Dragonfly.Models.Projects.ProjectModel

@{
    ViewBag.Title = "AddProject";
    PageData["Logged"] = ViewBag.Logged;
}

<h3>New project</h3>
@if (ViewBag.Logged == true && Model != null)
{
    using (Html.BeginForm(
        "CreateProject",
        "Project",
        FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    <label class="edit-row-label">Name</label>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.ProjectName, new { @class = "edit-row-text" })
                </td>
            </tr>
            <tr>
                <td>
                    <label class="edit-row-label">Description</label>
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Description, new { @class = "edit-row-text" })
                </td>
            </tr>
        </table>
        <div class="text-left bd-content">
            <input class="btn btn-success"
                   type="submit" value="Login" />
        </div>
        @*<a class="body-button"
               href="@Url.Action("CreateTask", "Project")">
                <span>
                    Create
                </span>
            </a>*@
    }
}
