<div class="text-center">
    @if (PageData["Logged"] == false)
    {
        <div id="user-identity">
            Please @Html.ActionLink("log in", "Authorization", "Main")
        </div>
    }
    else
    {

        <div id="user-identity">
            Hello, <a>@PageData["UserName"]</a>
            <a value="LogOut"
               id="user-logout"
               href="@Url.Action("Logout", "Main")">
                <Span>Log out</Span>
            </a>
        </div>
    }
    <div>Dragonfly, project system</div>
</div>