<div class="text-center">
    <div>
        @if (PageData["Logged"] == true)
        {
            <a href="@Url.Action("AddProject", "Project")"
               class="sidebar-button">
                <span>Add Project +</span>
            </a>

            <a href="@Url.Action("Index", "Projects")"
               value="Projects"
               class="sidebar-button">
                <span>Projects</span>
            </a>

            <a href="@Url.Action("ShowHideClients", "Clients")"
               value="Projects"
               class="sidebar-button">
                <span>Clients</span>
            </a>
        }
    </div>
</div>
